@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic);
.highlight {
  color: #818181;
  font-family: "Source Code Pro";
  font-weight: 300; }

.highlight .gl {
  color: #dee5e7; }

.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #6c8b9f;
  font-style: italic; }

.highlight .cp {
  color: #b2fd6d;
  font-weight: bold;
  font-style: italic; }

.highlight .err {
  color: #fefeec;
  background-color: #cc0000; }

.highlight .gr {
  color: #fefeec;
  background-color: #cc0000; }

.highlight .o, .highlight .ow {
  color: #818181; }

.highlight .p, .highlight .pi {
  color: #4df4ff; }

.highlight .gd {
  color: #cc0000; }

.highlight .gi {
  color: #b2fd6d; }

.highlight .ge {
  font-style: italic; }

.highlight .gs {
  font-weight: bold; }

.highlight .gt {
  color: #dee5e7;
  background-color: #4e5d62; }

.highlight .kc {
  color: #f696db;
  font-weight: bold; }

.highlight .kn {
  color: #ffb000;
  font-weight: bold; }

.highlight .kp {
  color: #ffb000;
  font-weight: bold; }

.highlight .kr {
  color: #ffb000;
  font-weight: bold; }

.highlight .gh {
  color: #ffb000;
  font-weight: bold; }

.highlight .gu {
  color: #ffb000;
  font-weight: bold; }

.highlight .kt {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .no {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .nc {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .nd {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .nn {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .bp {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .ne {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .nl {
  color: #ffb000;
  font-weight: bold; }

.highlight .nt {
  color: #ffb000;
  font-weight: bold; }

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #f696db;
  font-weight: bold; }

.highlight .ld {
  color: #f696db;
  font-weight: bold; }

.highlight .ss {
  color: #f696db;
  font-weight: bold; }

.highlight .s, .highlight .sb, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
  color: #4abfb4; }

.highlight .se {
  color: #4df4ff;
  font-weight: bold; }

.highlight .sc {
  color: #4df4ff;
  font-weight: bold; }

.highlight .si {
  color: #4df4ff;
  font-weight: bold; }

.highlight .ni {
  color: #999999;
  font-weight: bold; }

.highlight .w {
  color: #BBBBBB; }

.highlight .nf {
  color: #a8e1fe; }

.highlight .py {
  color: #a8e1fe; }

.highlight .na {
  color: #a8e1fe; }

.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
  color: #fd5559; }

.text-field, .search-bar {
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  width: 100%;
  outline: none;
  white-space: nowrap; }

.text-field, .search-bar {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  color: #bababa;
  background-color: #ededed;
  cursor: text;
  font-size: 18px;
  padding: 15px; }
  .text-field:hover, .search-bar:hover {
    transition: all .3s ease;
    background-color: #efefef; }
  .text-field:focus, .search-bar:focus {
    transition: all .3s ease;
    background-color: #fafafa; }

::-webkit-input-placeholder {
  color: #bababa; }

::-moz-placeholder {
  color: lightgray; }

:-ms-input-placeholder {
  color: lightgray; }

.code {
  font-family: "Source Code Pro";
  font-weight: 300; }

.bold {
  font-weight: 700; }

.search-bar {
  background-color: #59799a !important;
  text-align: left !important;
  color: #445d76 !important;
  width: 100%;
  border-radius: 4px;
  border: 0;
  outline: 0;
  position: relative; }

.search-bar::-webkit-input-placeholder {
  color: #4c6783 !important;
  text-align: left !important; }

.tag {
  border-radius: 15px;
  background-color: #fff;
  border: 2px solid lightgray;
  padding: .2em .5em; }

.profile-picture {
  border-radius: 50%;
  width: 50px; }

.logo-image {
  width: 100px !important; }

.logo-image-mobile {
  width: 75px !important; }

.login-urls {
  display: none; }

@media all and (max-width: 1100px) {
  .page-container {
    padding-top: 4em; } }
@media all and (max-width: 600px) {
  .page-container {
    padding-top: 4em; } }

/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
