%btn {
  cursor: pointer;
  text-align: center;
  color: #fff;
  padding: .4em;
  outline: 0;
  //border: 1px solid $gray;
  border: 0;
  border-radius: 3px;
  font-size: 22px;
  white-space: nowrap;
  background-color: $background-color;
  position: relative;
  @include main-font();
  //text-shadow: 0 2px 0 darken($background-color, 20);

  &:hover {
    background-color: lighten($background-color, 5);
    box-shadow: inset 0px 0px 1px lightgray;
  }

  &:active {
    @include transition(all .1s);
    //box-shadow: inset 0px 1px 5px lightgray;
    top: 2px;
  }
}

.btn-icon {
  @extend %btn;
  width: 25px;
}

.btn-red {
  @extend .google;
}

.btn-large {
  @extend %btn;
  width: auto;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 35px;
}

.btn-small {
  @extend .btn-large;
  font-size: 20px;
  padding-left: .5em;
  padding-right: .5em;
}

.btn-wide {
  @extend %btn;
  width: 100%;
}


%social {
  font-size: 2em;
}

.facebook {
  @extend %social;
  color: #44619c;

  &:hover {
    color: #35528c;
  }

  &:active {
    color: #35528c;
  }
}

.twitter {
  @extend %social;
  color: #509abf;

  &:hover {
    color: #074f73;
  }

  &:active {
    color: #074f73;
  }
}

.google {
  @extend %social;
  color: #d42020;

  &:hover {
    color: #a60000;
  }

  &:active {
    color: #a60000;
  }
}

.btn-header {
  font-size: 35px;
  color: #fff;
  padding: .3em .3em;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}