%btn {
  cursor: pointer;
  padding: .2em;
  padding-top: .4em;
  text-align: center;
  color: gray;
  outline: 0;
  border: 0;
  white-space: nowrap;
  border-radius: 5px;
  border-right-radius: 5px;
  position: relative;
  background-color: #e6e6e6;
  box-shadow: 0 5px #d6d6d6;

  &:hover {
    top: -2px;
    box-shadow: 0 7px #d6d6d6;
  }

  &:active {
    @include transition(all .1s);
    box-shadow: 0 0 #d6d6d6;
    top: 5px;
  }
}

.btn-icon {
  @extend %btn;
  width: 40px;
}

.btn-red {
  @extend .google;
}

.btn-large {
  @extend %btn;
  width: auto;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 35px;
  @include header-font();
}

.btn-small {
  @extend .btn-large;
  font-size: 1.2em;
  padding-left: .5em;
  padding-right: .5em;
}

.btn-wide {
  @extend %btn;
  width: 100%;
}

.facebook {
  @extend %btn;
  background-color: #44619c;
  color: white;
  box-shadow:0px 5px #35528c;
  &:hover {
    box-shadow:0px 7px #35528c;
  }
  &:active {
    box-shadow:0px 0px #35528c;
  }
}

.twitter {
  @extend %btn;
  color: white;
  background-color: #509abf;
  box-shadow:0px 5px #074f73;

  &:hover {
    box-shadow:0px 7px #074f73;
  }

  &:active {
    box-shadow:0px 0px #074f73;
  }
}

.google {
  @extend %btn;
  color: white;
  background-color: #d42020;
  box-shadow:0px 5px #a60000;

  &:hover {
    box-shadow:0px 7px #a60000;
  }

  &:active {
    box-shadow:0px 0px #a60000;
  }
}