.entity-container {
  width: 80%;
  margin: 0 auto;
  white-space: nowrap;

  @media all and (max-width: $switch-orientation-point) {
    width: 95%;
  }

  .entity {
    display: inline-block;
    vertical-align: top;
    padding-right: 2em;
    border-right: 1px solid lightgray;
    white-space: normal;
    text-align: right;
    width: 22%;

    @media all and (max-width: $switch-orientation-point) {
      display: block;
      width: 100%;
      text-align: center;
    }

    img {
      max-width: 60%;
      margin-bottom: 1em;
    }
  }

  .alerts {
    box-sizing: border-box;
    padding-left: 2em;
    width: 75%;
    display: inline-block;

    @media all and (max-width: $switch-orientation-point) {
      display: block;
      width: 100%;
      padding-left: 0;
      border: 0;
    }

    .alert {
      white-space: normal;
      width: 100%;
      //border-bottom: 1px solid lightgray;
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
}

.message {
  text-align: center;
}