.alert-width {
  width:33.333%;
}
.no-margin-bottom {
  margin-bottom:0em;
}
.margin-bottom {
  margin-bottom: 1.5em;
}
.toTop {
  position: fixed;
  display: none;
  bottom:40px;
  left:40px;
  width:100px;
}
.entity-container {
  @include box-sizing(border-box);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  .entity {
    order: 0;
    flex: 0 0 30%;
    align-self: auto;
    .item {
      transition: all 0.6s ease-out;
      padding: 1.5em;
      background-color: #f5f5f5;
      border-radius:5px;
      margin-bottom: 1.875em; /* 30px */
      .item-image {
        min-height: 150px;
        img {
          width: 100%;
        }
      }
      .item-content {
        padding: 0em;
        font-size: 1em;
      }
      .item-description {
        margin-top: 0.4em;
        margin-bottom: 1.5em;
        font-size: 1.2em;
        line-height: 1.4em;
        color:gray;
      }
      .item-title {
        @include header-font();
        margin-top: 0.4em;
        font-size: 2.2em;
        text-overflow: ellipsis;
        overflow: hidden;
        color:$dark-gray;
        padding-bottom:0em;
      }
      .item-info {
        margin-top: 0.6em;
        margin-bottom: 1.6em;
        font-size: 1.2em;
        color:#A4A4A4;
      }
      .item-tags {
        font-size: 1.5em;
        margin-top: 0em;
        margin-bottom: 1em;
        @include title-font();
        color:#A4A4A4;
      }
    }

  }
  .add-no-alerts-margin {
    background-color: #f5f5f5;
    margin-left: 1em;
    border-radius:8px;
  }
  .alerts {
    @include box-sizing(border-box);
    padding-left: 1em;
    order: 1;
    flex: 0 0 70%;
    align-self: auto;
    .message {
      padding-top: 20%;
      text-align: center;
      margin-left: auto;
      margin-right:auto;
      border-radius:8px;
      width:90%;
      color:$gray;
      .message-title {
        @include header-font();
        font-size: 4em;
      }
      .message-description {
        font-size:2em;
      }
    }
    .list-date {
      padding:0.7em;
      margin-left:0.2em;
      margin-right:0.2em;
      background-color: white;
      @include title-font();
      font-size:1.5em;
      color:black;
      border-radius: 5px;
      text-align: center;
      margin-top: 0em;
      margin-bottom: 1em;
      position:relative;
      &:after {
        position: absolute;
        content:"";
        border-width: 20px 20px 20px 20px;
        border-style: solid;
        border-color: white;
        z-index: -10;
        left:50%;
        bottom:-6px;
        @include box-shadow(0px 0px 15px white);
        @include transform(rotate(45deg));
      }
    }
    .list {
      width: 100%;
      overflow: hidden;
      position: relative;
      //@include column-count(3);
      //@include column-gap(1em);
      //@include column-fill(auto);
      height:auto;
      margin-bottom: 1em;
      .data {
        @include box-sizing(border-box);
        display: block;
        border-radius:8px;
        z-index: 0;
        position: relative;
        border-top:0px;
        padding: 1.5em;
        margin-bottom:5px;
        background-color: #f5f5f5;
        transition: all 0.6s ease-out;
        @include box-shadow(0px 1px 1px lightgray);
        //@include column-break-inside(avoid);
        .youtube {
          position:absolute;
          top:15px;
          right:15px;
          color:$dark-red;
          font-size:2em;
        }
        .data-title {
          @include title-font();
          color:$dark-gray;
          font-size: 2em;
          width:90%;
          overflow: hidden;
          text-overflow: ellipsis;
          .body {
            @include title-font();
            color:gray;
            font-size:0.7em;
          }
          .date {
            @include title-font();
            color:lightgray;
            font-size:0.6em;
          }
        }
        .data-source {
          margin-top: 0em;
          font-family: $title-font;
          font-size: 1.2em;
          color:lightgray;
          text-overflow: ellipsis;
          overflow: hidden;
          padding-bottom: 0.2em;
          white-space: nowrap;
        }
        .data-description {
          @include box-sizing(border-box);
          padding-top: 0.8em;
          font-size: 1.3em;
          color:gray;
          line-height: 1.2em;
          overflow: hidden;
          text-overflow: ellipsis;
          color:gray;
          .data-img-video {
            float:left;
            width:150px;
            margin-right: 2em;
            position: relative;
            .play-icon {
              color:white;
              font-size:100px;
              position: absolute;
              opacity: 0.8;
              text-shadow:0px 0px 20px black;
              left:40%;
              top:17%;
            }
          }
          img {
            float:left;
            margin-right: 1.5em;
            width:150px;
            margin-bottom:1em;
            border-radius:5px;
          }
        }
        .data-date {
          margin-top: 1em;
          font-size: 1em;
          color:lightgray;
        }
        .data-controls {
          position: absolute;
          right:15px;
          bottom:15px;
        }
        .data-icon {
          width: 20px;
          vertical-align:middle;
        }
      }
    }
  }
}
