.alert-width {
  width:33.333%;
}
.no-margin-bottom {
  margin-bottom:0em;
}
.margin-bottom {
  margin-bottom: 1.5em;
}

.entity-container {
  @include box-sizing(border-box);
  width:85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  .entity {
    order: 0;
    flex: 0 0 25%;
    align-self: auto;
    .item {
      transition: all 0.6s ease-out;
      padding: 1.5em;
      background-color: white;
      margin-bottom: 1.875em; /* 30px */
      border-bottom: 10px solid white;
      .item-image {
        min-height: 150px;
        img {
          width: 100%;
        }
      }
      .item-content {
        padding: 0em;
        font-size: 1em;
      }
      .item-description {
        margin-top: 0.4em;
        margin-bottom: 1.5em;
        font-size: 1.2em;
        line-height: 1.4em;
        color:gray;
      }
      .item-title {
        @include title-font();
        margin-top: 0.4em;
        font-size: 2.2em;
        line-height: 0.8em;
        text-overflow: ellipsis;
        overflow: hidden;
        color:black;
      }
      .item-info {
        margin-top: 0.6em;
        font-size: 1.2em;
        color:#A4A4A4;
      }
      .item-tags {
        font-size: 1.2em;
        margin-top: 0.5em;
        margin-bottom: 1em;
        color:#A4A4A4;
      }
      .item-tags b {
        @include main-font();
        cursor: pointer;
        padding-right: 1px;
        border-bottom: 1px dotted #BDBDBD;
        color:#BDBDBD;
        border-radius: 2px;
        margin-right:3px;
      }
    }

  }
  .add-no-alerts-margin {
    background-color: white;
    margin-left: 1em;
  }
  .alerts {
    @include box-sizing(border-box);
    padding-left: 1em;
    order: 1;
    flex: 0 0 75%;
    align-self: auto;
    .message {
      padding-top: 20%;
      text-align: center;
      margin-left: auto;
      margin-right:auto;
      width:70%;
      color:$gray;
      .message-title {
        @include header-font();
        font-size: 4em;
      }
      .message-description {
        font-size:2em;
      }
    }
    .list {
      width: 100%;
      overflow: hidden;
/*      @include column-count(3);
      @include column-gap(1em);
      @include column-fill(auto);*/
      .data {
        @include box-sizing(border-box);
        z-index: 0;
        position: relative;
        width:33.333%;
        border:5px solid #E6E6E6;
        border-top:0px;
        padding: 1.5em;
        margin-bottom:5px;
        background-color: white;
        transition: all 0.6s ease-out;
        //@include column-break-inside(avoid);
        .data-title {
          @include title-font();
          font-size: 1.7em;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .data-source {
          margin-top: 0em;
          font-family: $title-font;
          font-size: 1.2em;
          color:lightgray;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .data-description {
          @include box-sizing(border-box);
          padding-top: 1.5em;
          font-size: 1.1em;
          color:gray;
          line-height: 1.5em;
          overflow: hidden;
          text-overflow: ellipsis;
          color:gray;
          .data-img-video {
            position: relative;
            .play-icon {
              color:white;
              font-size:100px;
              position: absolute;
              opacity: 0.8;
              text-shadow:0px 0px 20px black;
              left:40%;
              top:17%;
            }
          }
          img {
            width:100%;
            margin-bottom:1em;
          }
        }
        .data-date {
          margin-top: 1em;
          font-size: 1em;
          color:lightgray;
        }
        .data-controls {
          position: absolute;
          right:10px;
          bottom:10px;
        }
        .data-icon {
          width: 20px;
          vertical-align:middle;
        }
      }
    }
  }
}
