.feed-container {
  width: 60%;
  margin: 0 auto;

  .alert-container {
    padding-bottom: 1em;
    padding-top: 1em;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    border-bottom: 1px solid lightgray;

    .entity {
      order: 0;
      flex: 0 0 20%;
      align-self: auto;
      padding-right: 1.5em;

      img {
        max-width: 100%;
      }
    }

    .data {
      order: 0;
      flex: 0 0 80%;
      align-self: auto;
    }
  }
}