.feed-container {
  padding-top: 7em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  .alert-container {
    border-radius:8px;
    padding: 1.5em;
    margin-bottom:5px;
    background-color: #f5f5f5;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    @include box-shadow(0px 1px 1px lightgray);

    .entity {
      order: 0;
      flex: 0 0 20%;
      align-self: auto;
      @include header-font();
      font-size: 1.5em;
      padding-right: 1em;

      .date {
        @include title-font();
        color:lightgray;
        font-size:0.8em;
      }

      img {
        margin-top: 10px;
        max-width: 50%;
        border-radius: 5px;
        @include box-shadow(0 5px 0 lightgray);
      }
    }
    .data {
      order: 0;
      flex: 0 0 80%;
      align-self: auto;

      .data-controls {
        position: absolute;
        right:15px;
        bottom:15px;
      }

      .youtube {
        position:absolute;
        top:15px;
        right:15px;
        color:$dark-red;
        font-size:2em;
      }

      .data-title {
        @include title-font();
        color:$dark-gray;
        font-size: 2em;
        width:90%;
        overflow: hidden;
        text-overflow: ellipsis;

        .body {
          @include title-font();
          color:gray;
          font-size:0.7em;
        }
      }

      .data-source {
        margin-top: 0em;
        font-family: $title-font;
        font-size: 1.2em;
        color:lightgray;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-bottom: 0.2em;
        white-space: nowrap;
      }

    }
  }
}