.feed-container {
  width: 60%;
  margin: 0 auto;
  box-sizing: border-box;

  @media all and (max-width: $switch-orientation-point) {
    width: 90%;
  }

  .alert-container {
    padding-bottom: 1em;
    padding-top: 1em;
    position: relative;
    border-bottom: 1px solid lightgray;
    white-space: nowrap;
    box-sizing: border-box;

    .entity {
      width: 20%;
      white-space: normal;
      display: inline-block;
      box-sizing: border-box;
      vertical-align: top;

      img {
        max-width: 100%;
      }
    }

    .data {
      width: 78%;
      box-sizing: border-box;
      display: inline-block;
      white-space: normal;
      padding-left: 1em;
    }
  }
}