$background-color: #34495e;
$main-font: 'Cambria', 'Verdana', sans-serif;
$title-font: 'Cambria', 'Verdana', sans-serif;
$header-font: 'Cambria', sans-serif;
$red: #f1103a;
$gray: #BDBDBD;
$dark-red: #dd1338;
$light-red: #FF2E54;
$dark-gray: #424242;
$switch-orientation-point: "900px";
$switch-header-orientation-point: "900px";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #fff;
  @include main-font();
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

.page-container {
  @include transition(all .1s ease-in-out);
  position: relative;
  z-index: 10001;
  overflow-x: hidden;
  left: 0;
  line-height: 1.2em;
  font-size: 1em;
  padding-left: 8em;
  padding-top: 2em;

  @media all and (max-width: $switch-orientation-point) {
    padding-top: 5em;
  }
}

.slide-page-container-right {
  @extend .page-container;
  left: 240px;
}

.toTop {
  position: fixed;
  display: none;
  bottom: 40px;
  left: 40px;
  width: 100px;
}

h1 {
  @include header-font();
  font-size: 2.5em;
  line-height: 1em;
}

h2, h3, h5 {
  @include title-font();
  margin: 0;
  font-weight: 400;
  color: $dark-gray;
  line-height: 1.1em;
}

h5 {
  @extend h2;
  color: $dark-gray;
}

p {
  margin: 0;
}

p.small {
  font-size: 1em;
  line-height: 1.1em;
}

.margins {
  margin-top: 1em;
  margin-bottom: 1em;
}

.margins-medium {
  margin-bottom: 4em;
}


.margin-top {
  margin-top: .5em;
}

.margin-bottom {
  margin-top: .5em;
}

.margin-bottom-large {
  margin-bottom: 2.5em;
}

.padding-large {
  padding: 2em;
}


img {
  max-width: 100%;
}

a.big {
  font-size: 3em;
  border-bottom: 1px dashed;
  color: $background-color;
  line-height: 1.1em;
}

.no-padding {
  padding: 0;
}

.gray {
  color: lightgray;
}