@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Antic+Didone);
@font-face {
  font-family:"HNC";
  font-weight:100;
  src:url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedUltraLight-b1643142.woff) format("woff"),
  url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedUltraLight-911598d6.ttf) format("truetype")
}
@font-face{font-family:"HNC";
  font-weight:200;
  src:url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedThin-e8fd1378.woff) format("woff"),
  url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedThin-f9094e63.ttf) format("truetype")
}
@font-face{
  font-family:"HNC";font-weight:300;
  src:url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedLight-bcd62347.woff) format("woff"),
  url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedLight-3a6fcb2e.ttf) format("truetype")
}
@font-face{
  font-family:"HNC";
  font-weight:400;
  src:url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensed-a8bae095.woff) format("woff"),
  url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensed-59790d27.ttf) format("truetype")
}
@font-face{
  font-family:"HNC";
  font-weight:600;
  src:url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedMedium-63796dcb.woff) format("woff"),
  url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedMedium-930f0aa0.ttf) format("truetype")
}
@font-face{
  font-family:"HNC";
  font-weight:700;
  src:url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedBold-572a7194.woff) format("woff"),
  url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedBold-b45199ea.ttf)
}

@font-face {
  font-family: 'Cambria-BoldItalic';
  src: url('http://img.yegor256.com/fonts/2A901D_0_0.eot');
  src: url('http://img.yegor256.com/fonts/2A901D_0_0.eot?#iefix')
  format('embedded-opentype'),
  url('http://img.yegor256.com/fonts/2A901D_0_0.woff')
  format('woff'),
  url('http://img.yegor256.com/fonts/2A901D_0_0.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Cambria-Bold';
  src: url('http://img.yegor256.com/fonts/2A901D_1_0.eot');
  src: url('http://img.yegor256.com/fonts/2A901D_1_0.eot?#iefix')
  format('embedded-opentype'),
  url('http://img.yegor256.com/fonts/2A901D_1_0.woff')
  format('woff'),
  url('http://img.yegor256.com/fonts/2A901D_1_0.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Cambria';
  src: url('http://img.yegor256.com/fonts/2A901D_2_0.eot');
  src: url('http://img.yegor256.com/fonts/2A901D_2_0.eot?#iefix')
  format('embedded-opentype'),
  url('http://img.yegor256.com/fonts/2A901D_2_0.woff')
  format('woff'),
  url('http://img.yegor256.com/fonts/2A901D_2_0.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Cambria-Italic';
  src: url('http://img.yegor256.com/fonts/2A901D_3_0.eot');
  src: url('http://img.yegor256.com/fonts/2A901D_3_0.eot?#iefix')
  format('embedded-opentype'),
  url('http://img.yegor256.com/fonts/2A901D_3_0.woff')
  format('woff'),
  url('http://img.yegor256.com/fonts/2A901D_3_0.ttf')
  format('truetype');
}

$main-font: 'Cambria', sans-serif;
$title-font: 'HNC', sans-serif;
$button-font: 'HNC', sans-serif;
$header-font: 'HNC', sans-serif;
$alert-font: 'Antic+Didone', serif;
$red: #f1103a;
$dark-red: #dd1338;
$light-red: #FF2E54;
$gray: #BDBDBD;
$dark-gray: #424242;


body {
	//background-color: #e6e6e6;
    background-color: #fff;
	@include main-font();
	padding: 0em;
	margin: 0em;
    overflow-x: hidden;
}
html {
  overflow-x: hidden;
}
h1 {
	font-size: 2.5em;
	@include title-font();
}
a, a:visited {
  text-decoration: none;
  color:black;
}
.wait {
  width: 100%;
  text-align: center;
  font-size: 3em;
  color:lightgray;
}
.page-container {
  @include transition(all 0.1s ease-in-out);
  position:relative;
  z-index: 10001;
  overflow-x: hidden;
  left:0px;
}
.slide-page-container-right {
  @extend .page-container;
  left:240px;
}

img {
  //border-radius: 5px;
  //@include box-shadow(0 5px 0 lightgray);
}

