@include keyframes(showSlow) {
  from {
    @include transform(translateY(-40%));
    opacity:0;
  }
  to {
    opacity: 1;
  }
}
@include keyframes(slideFromBottom) {
  from {
    @include transform(translateY(140%));
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

.menu-container {
    @include transition(all 0.1s ease-in-out);
    @include animation-name(showSlow);
    @include animation-duration(0.5s);
    @include animation-timing-function(ease);
    @include box-sizing(border-box);
	margin-top: 0em;
	color: black;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
	position: fixed;
	top:0px;
    left:0px;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.98);
	width:100%;
    padding-right:5%;
    padding-left:5%;
	margin-left: auto;
	margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    .controls-section {
        @include box-sizing(border-box);
        order: 0;
        flex: 0 0 50%;
        align-self: auto;
        @include header-font();
        font-size: 1.5em;
        text-align:left;
    }
    .logo-section {
      @include box-sizing(border-box);
      line-height:1.2em;
      order: 1;
      flex: 0 0 25%;
      align-self: auto;
      @include header-font();
      font-size: 2.2em;
      white-space: nowrap;
      text-align: center;
      padding-left:2em;
      position: relative;
      i {
        color:$red;
      }
      a, a:visited {
        left:0px;
        position: absolute;
        @include animation-name(slideFromBottom);
        @include animation-duration(0.5s);
        @include animation-timing-function(ease);
        color:black;
        text-decoration: none;
      }
    }
    .profile-section {
        @include box-sizing(border-box);
        order: 2;
        flex: 0 3 25%;
        align-self: auto;
        @include header-font();
        color:gray;
        font-size: 1.5em;
        white-space: nowrap;
        text-align: right;
    }
}
.menu-container-slide-right {
  @extend .menu-container;
  left:240px;
}