@include keyframes(showSlow) {
  from {
    //@include transform(translateY(-40%));
    opacity:0;
  }
  to {
    opacity: 1;
  }
}
@include keyframes(slideFromBottom) {
  from {
    //@include transform(translateY(140%));
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

.menu-container {
    @include animation-name(showSlow);
    @include animation-duration(0.5s);
    @include transition(all 0.1s ease-in-out);
    @include animation-timing-function(ease);
    @include box-sizing(border-box);
    @include header-font();
	padding-bottom: 1.5em;
	padding-top: 1em;
	position: fixed;
	top: 0;
    left: 0;
	z-index: 10000;
  	background-color: rgba(255, 255, 255, .98);
	width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    .controls-section {
        order: 0;
        flex: 0 0 30%;
        align-self: auto;
        text-align: left;
    }

    .logo-section {
      order: 1;
      flex: 0 0 40%;
      align-self: auto;
      font-size: 1.5em;
      white-space: nowrap;
      position: relative;
      text-align: center;

      img {
        vertical-align: middle;
        border-radius: 5px;
        box-shadow: 0 5px 0 lightgray;
        width:30px;
      }

      span {
        vertical-align: middle
      }

      a, a:visited {
        color:$dark-gray;
        text-decoration: none;
      }
    }

    .profile-section {
        order: 2;
        flex: 0 3 30%;
        align-self: auto;
        white-space: nowrap;
        text-align: right;
    }
}
.menu-container-slide-right {
  @extend .menu-container;
  left: 240px;
}