a.red-link {
  @include transition(all 0.2s ease);
  color:black;

  &:hover {
    @include transition(all 0.2s ease);
    color:$red;
  }

  &:hover {
    @include transition(all 0.2s ease);
    color:$light-red;
  }
}

a.gray-link {
  @extend a.red-link;
  color:gray;
}

a.link-underline {
  @extend a.red-link;
  border-bottom: 1px dotted #BDBDBD;
}

a.black-link {
  @include transition(all 0.2s ease);
  &:hover {
    @include transition(all 0.2s ease);
    color:black;
  }
}