.login-urls {
  display: none;
}

.list-container {
	width: 100%;
	margin: 0 auto;

    .item {
        position: relative;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        overflow: hidden;
        padding: 2em 1em 2em 1em;
        float: left;
        margin: 0;
        width: calc((100%) / 5);
        height: 600px;
        box-sizing: border-box;

        @media all and (max-width: $switch-orientation-point) {
          width: calc(100%);
          height: auto;
          padding: 1em .6em;
          border: 0;
          border-bottom: 1px solid lightgray;
        }

        &:hover .item-follow-button {
          opacity:1;
        }


        img {
          max-width: 100%;

          @media all and (max-width: $switch-orientation-point) {
            width: 50%;
            margin: 0 1em 1em 0;
            float: left;
          }
        }

        .item-follow-button {
              opacity: 1;
              position: static;
        }

        .make-visible {
          opacity:1;
        }

        .not-displayed {
          display:none;
        }

        .displayed {
          display:block;
        }

        .shadow-bottom {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.57) 36%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 66%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(36%,rgba(255,255,255,0.57)), color-stop(63%,rgba(255,255,255,1)), color-stop(66%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.57) 36%,rgba(255,255,255,1) 63%,rgba(255,255,255,1) 66%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.57) 36%,rgba(255,255,255,1) 63%,rgba(255,255,255,1) 66%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.57) 36%,rgba(255,255,255,1) 63%,rgba(255,255,255,1) 66%); /* IE10+ */
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.57) 36%,rgba(255,255,255,1) 63%,rgba(255,255,255,1) 66%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        }

    }
}