.menu-panel {
  @include transition(all 0.1s ease-in-out);
  background-color: $background-color;
  width: 240px;
  height: 100%;
  position: fixed;
  @include main-font();
  z-index: 1000;
  top: 0;
  left: -240px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);

  .menu {
    list-style: none;
    padding-left: 0em;
    overflow-x: hidden;

    li {

      .current {
        background-color: darken($background-color, 5);
      }
    }

    li a {
      display: block;
      color: #fff;
      font-size: 1.5em;
      line-height: 3;
      padding: 0 20px;
      cursor: pointer;
      background-color: $background-color;
      border-bottom: 1px solid lighten($background-color, 5);
      @include transition(all 0.2s ease-in-out);

      &:hover{
        @include transition(all 0.2s ease-in-out);
        background-color: lighten($background-color, 5);
      }

      &:active {
        @include transition(all 0.1s ease-in-out);
        background-color: darken($background-color, 8);
      }
    }
  }
}

.slide-menu-right {
  @extend .menu-panel;
  left:0px;
}
