.message-container {
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 40%;
  text-align: left;
  width: 70%;
  white-space: normal;

  @media all and (max-width: $switch-orientation-point) {
    width: 90%;
  }

}

.message {
  white-space: normal;
  color: $background-color;
  padding-top: 15%;
  padding-bottom: 15%;
}

.moderation {
  padding-top: 1em;
  font-size: 5em;
}

