.message-container {
  margin: 0 auto;
  padding-top: 15%;
  padding-bottom: 5%;
  text-align: center;
  width: 50%;

  .button-block {
    padding-top: 1em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width:70%;
  }

}
