@mixin main-font() {
	font-family: $main-font;
	font-weight: 300;
}

@mixin title-font() {
	font-family: $title-font;
	font-weight: 300;
}

@mixin header-font() {
  font-family: $header-font;
  font-weight: 400;
}