//@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic);

$main-font: "Open Sans";
$h-font: "Open Sans";
$base-font-size: 18px;

$switch-orientation-point-medium: "1100px";
$switch-orientation-point-mobile: "600px";

@mixin main-font() {
  font-family: $main-font;
  font-weight: 400;
}

@mixin h-font() {
  font-family: $h-font;
  font-weight: 600;
}

// dark blue theme
$background-color: #34495e;
$controls-depth: 4px;
$controls-text-color: #ecf0f1;
$controls-border-radius: 12px;
$controls-default-color: lighten($background-color, 15);
$success: #2a80b9;
$warning: #ef7820;
$info: #08bf55;
$text-color: #ecf0f1;


// brown theme
$background-color: #393939;
$controls-depth: 1px;
$controls-text-color: #ecf0f1;
$controls-border-radius: 9px;
$controls-default-color: lighten($background-color, 15);
$success: darken(#aad171, 15);
$warning: darken(#ffd078, 30);
$info: darken(#75adcc, 10);
$text-color: #ecf0f1;

// twentytags theme
$menu-aside-width: 220px;
$background-color: #fff;
$controls-depth: 3px;
$controls-text-color: #fbfbfb;
$controls-border-radius: 4px;
$controls-default-color: darken($background-color, 25);
$inputs-background: darken(#f2f2f2, 2);
$success: #fd5559;
$warning: #4abfb4;
$info: lighten(#394e63, 20);
$text-color: lighten(#4e4e4e, 20);