@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);
$code-font: "Source Code Pro";
@import "variables";
@import "highlight";
@import "mixins";
@import "controls";
@import "inputs";

.code {
  font-family: $code-font;
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.search-bar {
  @extend .text-field;
  background-color: darken($info, 3) !important;
  text-align: left !important;
  color: darken($info, 14) !important;
  width: 100%;
  border-radius: $controls-border-radius;
  border: 0;
  outline: 0;
  position: relative;
}


.search-bar::-webkit-input-placeholder {
  color: darken($info, 10) !important;
  text-align: left !important;
}

.tag {
  border-radius: 15px;
  background-color: #fff;
  border: 2px solid lightgray;
  padding: .2em .5em;
}

.profile-picture {
  border-radius: 50%;
  width: 50px;
}

.logo-image {
  width: 100px !important;
}

.logo-image-mobile {
  width: 75px !important;
}

.login-urls {
  display: none;
}

.page-container {

  @media all and (max-width: $switch-orientation-point-medium) {
    padding-top: 4em;
  }

  @media all and (max-width: $switch-orientation-point-mobile) {
    padding-top: 4em;
  }

}

/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
