@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,100&subset=latin,cyrillic);
$code-font: "Source Code Pro";
@import "variables";
@import "highlight";
@import "mixins";
@import "controls";
@import "inputs";

.code {
  font-family: $code-font;
  font-weight: 300;
}

.exo {
  font-family: "Exo 2";
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.search-bar {
  @extend .text-field;
  background-color: darken($info, 3) !important;
  text-align: left !important;
  color: darken($info, 14) !important;
  width: 100%;
  border-radius: $controls-border-radius;
  border: 0;
  outline: 0;
  position: relative;
}


.search-bar::-webkit-input-placeholder {
  color: darken($info, 10) !important;
  text-align: left !important;
}

.tag {
  border-radius: 15px;
  background-color: #fff;
  border: 2px solid lightgray;
  padding: .2em .5em;
}

.profile-picture {
  border-radius: 50%;
  width: 50px;
}

.logo-image {
  width: 100px !important;
}

.logo-image-mobile {
  width: 75px !important;
}

.login-urls {
  display: none;
}

.page-container {

  @media all and (max-width: $switch-orientation-point-medium) {
    padding-top: 4em;
  }

  @media all and (max-width: $switch-orientation-point-mobile) {
    padding-top: 4em;
  }

}